@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-color: #E2E7EA;
  --scrollbar-thumb-color: #7EBD42;
  --paragraph: #595C61;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar-thumb-color);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
